.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#toolbar {
  height: 5vh;
  background-color: #21252b;
}
#work {
  height: 100vh;
  display: flex;
  align-items: center;
}

#Output {
  height: 140px;
  width: 360px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  background-color: rgba(104, 131, 139, 0.466);
  transition: transform 0.2s ease;
  padding: 5px;
  box-sizing: border-box;
}

#workspace {
  display: flex;
}

#editor {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: #c1d7e2;
  position: fixed;
  right: 0;
  height: 100%;
  padding: 2rem;
}

/* @media only screen and (max-width: 1000px) {
  #Output {
    transform: scale(0.8) translateX(-15%);
  }
}
@media only screen and (max-width: 900px) {
  #Output {
    transform: scale(0.6) translateX(-30%);
  }
}
@media only screen and (max-width: 700px) {
  #Output {
    transform: scale(0.4) translateX(-75%);
  }
} */

#Output div {
  box-sizing: border-box;
  border: 1px solid #4eabde;
}

#Output p {
  box-sizing: border-box;
  border: 1px solid transparent;
}

#Output p:hover {
  border: 1px solid #4eabde;
}

#Output div:hover {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #ffffff 0,
    #0084ff94 1px,
    #ffffff 0,
    #ffffff 50%
  );
}
